# =====================================================
# PYTHON
# =====================================================

__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/
ENV/

# =====================================================
# DJANGO
# =====================================================

# Base de datos local
db.sqlite3

# Archivos de log
*.log

# Archivos estáticos recopilados (cuando uses collectstatic)
staticfiles/

# =====================================================
# VARIABLES DE ENTORNO
# =====================================================

.env
.env.*
*.env

# =====================================================
# IDEs / EDITORES
# =====================================================

.vscode/
.idea/

# =====================================================
# SISTEMA OPERATIVO
# =====================================================

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# =====================================================
# OTROS
# =====================================================

# Archivos temporales
*.swp
*.bak
