{% extends "core/base.html" %}

{% block content %}

<h2>Nueva Inscripción</h2>

{% if actividad %}
    <div style="margin-bottom:15px; padding:10px; background-color:#ecf0f1;">
        <strong>Actividad:</strong> {{ actividad.nombre }} <br>
        <strong>Fechas:</strong> {{ actividad.fecha_inicio }} - {{ actividad.fecha_fin }} <br>
        <strong>Plazas disponibles:</strong> {{ actividad.plazas_disponibles }}
    </div>
    <form method="get" class="search-box">
    <input type="text" 
           name="q" 
           placeholder="Buscar participante por nombre, apellidos o email..."
           value="{{ query|default:'' }}">
    <button type="submit" class="btn">
        Buscar
    </button>
</form>

{% endif %}

<form method="post">
    {% csrf_token %}

    {% if form.errors %}
        <div class="alert">
            {{ form.non_field_errors }}
            Por favor revisa los datos.
        </div>
    {% endif %}

    <table>
        {{ form.as_table }}
    </table>

    <br>

    <button type="submit" class="btn btn-success">
        Registrar inscripción
    </button>

    {% if actividad %}
        <a href="{% url 'participantes_actividad' actividad.pk %}" class="btn btn-danger">
            Cancelar
        </a>
    {% else %}
        <a href="{% url 'lista_actividades' %}" class="btn btn-danger">
            Cancelar
        </a>
    {% endif %}
</form>

{% endblock %}
